# Byte-compiled
__pycache__/
*.pyc

# Environments
.venv/
venv/
.venv_arcade3/
.env

# Tooling
.pytest_cache/
.coverage
docs/_build/
*.pot
*.mo

# IDEs
.idea/
.vscode/
.DS_Store

.i18n
.doit.db
.test
*.egg-info/
